body{
  background-color: white;
}
h1{
  font-size: 38px;
}

input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 249, 249);
  /*color: rgb(10, 10, 10);*/ 
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: content-box;
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
 background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  /*cursor: pointer;*/
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}

select {
  width: 80%;
  padding: 12px 20px;
  margin: 9px 0;
  box-sizing: content-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}


.containerF{
  height: 100vh;
  /*width: 800px; must uncomment this to have the registration form and the image*/
  /*background: red; must uncomment this to have the registration form and the image */
  background: rgb(73,79,82);
  color: white;
  font-weight: bold; 
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  

  /*background-color: antiquewhite;
  border-style: hidden;
  border-radius: 15px;
  padding:18px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;*/ 
}

.Logo{
  height: 200vh;
  width: 1000px;
  background: red; 
  color: white;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url(./PSBMS.png); */ 
}

/*.centered{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  
}*/ 
  
 
  

@media screen and (max-width:900px){

    .main-container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly; 
      
    }
  
  }

